<div id="<%= dom_id project %>">
  
  <h3>
    <strong>Theme:</strong>
    <%= project.name %>
  </h3>
  
  <br/>
  
  <h3>
    <strong>Description:</strong>
    <%= project.description %>
  </h3>

</div>
