<div class="card">
  <div class="card-header">
<h1>Editing project</h1>
</div>
  <div class="card-body">

<%= render "form", project: @project %>

<br>


  <%= link_to "Show this project", @project %>
  </div>
</div>

  <%= link_to "Back to projects", projects_path %>

