<div class="card">
  <div class="card-header">
  <h1>New project</h1>
  </div>
    <div class="card-body">

<%= render "form", project: @project %>

<br>

  </div>
</div>

<div>
  <%= link_to "Back to projects", projects_path %>
</div>
